.App {
  text-align: center;
}
h2,h3,h5{
  color:antiquewhite;
}
.App div{
  margin: 0;
}
.App div div{
  margin-top: 25px;
}
.downloadLink{
  background: blue;
  color: azure;
  padding: 8px;
  margin-top: 25px;
  border-radius: 5px;
  font-weight: 900;
}
.downloadLink:hover{
  background: green;
  color: whitesmoke;
}
